<h1> These are your badges </h1>
<% @badges.each do |badge| %>
<%= badge.title %>
<%= image_tag badge.icon %>
<% end %>

<h3>Add More Friends</h3>
<%= form_tag(friendships_path, method: "post") do %>
  <%= collection_check_boxes(:user, :friend_ids, @nonfriends, :id, :username_with_full_name)%>
  <%= submit_tag("Add Friends")%>
<%end%>

<!-- Might be okay to delete this file, made it before the other dashboard -->
