<h1 class = "dashboard-title"> <%= @user.name %>'s dashboard</h1>
<div class="form-wrapper-dashboard" style="background-image: url(<%= image_path "sky.jpg" %>)"></div>
<div class="dashboard-container">
  <div class="dashboard-col-challenges">
    <% if !@user.list_friends.map(&:sender).include?(current_user) && @user != current_user %>
    <%= link_to "Add as friend", friendships_path(user: @user), method: :post, class: "grey-btn", id: "yellow-btn-dash"  %>
    <% end %>
    <!-- Add this later, removed to fix demo day <%#= cl_image_tag @user.image, %> -->
    <!-- after @user.image, "height: 300, width: 400, crop: :fill" -->
    <div class="">
      <% if !@user.list_friends.map(&:sender).include?(current_user) && @user != current_user %>
      <% end %>
      <% @trackers.each do |tracker| %>
      <div class="progress-card">
        <% if tracker.tracker_days.to_a.any? { |day| day.date.to_date <= Date.today && day.completed == false} %>
          <div class="alarm bell">
            <%= image_tag "alarm.png", style:"height: 50px; width: 500px" "padding-top: 10px;"%>
          </div>
        <% else %>
        <% end %>
        <div class="challenge-image" style="background-color: <%= tracker.challenge.bg_color %>">
          <% if tracker.challenge.image.nil? || tracker.challenge.image.empty? %>
          <%= cl_image_tag tracker.challenge.photo, alt: tracker.challenge.name, height: 180, width: 180, crop: :fill %>
          <% else %>
          <%= image_tag tracker.challenge.image %>
          <% end %>
        </div>
        <h3 class="heading-tertiary-2">
        <%= tracker.challenge.name %>
        </h3>





     <div class="btn-wrapper">
        <% if policy(@user).edit? %>
          <button class="yellow-btn" id="btn-dashboard">
           <p class="heading-tertiary">
              <%= link_to "Progress", challenge_tracker_path(tracker.challenge, tracker) %>
           </p>
        <% end %>
          </button>
          <button class="yellow-btn" id="btn-dashboard">
          <p class="heading-tertiary">
            <%= link_to "Details", challenge_path(tracker.challenge) %>
          </p>
          </button>
      </div>

      </div>
      <% end %>
    </div>
  </div>
  <div class="dashboard-col">
    <div class="user-profile">
      <div class="profile-card", id="profile-card">
          <div class="avatar-and-name"> <%= cl_image_tag @user.image, height: 180, width: 180, crop: :fill, class: "avatar-profile" %>
          <p class="profile-name heading-secondary"><%= @user.name %>
          </div>
        </p>
      </div>

      <div class="profile-card">
        <p class="heading-secondary">Achievements</p>
        <p class="badge-text"><%= @user.score %> points earned!</p>
        <div class="badges-inline"> <% @badges.each do |badge| %>
          <%= image_tag badge.icon, width: 90, height: 90 %>
          <% end %>
        </div>
      </div>
      <% if policy(@user).edit? %>
      <div class="profile-card-friends">
        <p class="heading-secondary">
          Friends
        </p>
        <div class="leaderboard dash-leaderboard" id = #leaderboard>
          <div class="top-five" id = "leaderboard">
            <h4><%= image_tag "crowns.png" %> Leaderboard</h4>
            <table>
              <% @top_five_friends.each do |friend| %>
              <tr>
                <th class = "avatar"><%= cl_image_tag friend.image %></th>
                <th><%= link_to friend.name, dashboard_path(user: friend.id) %></th>
                <th><%= friend.score %></th>
              </tr>
              <% end %>
               <% end %>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<%#= cl_image_tag @user.image, %>
<!-- Add this later, removed to fix demo day <%#= cl_image_tag @user.image, %> -->
<!-- after @user.image, "height: 300, width: 400, crop: :fill" -->
<script>
const greyButtons = document.querySelectorAll(".grey-btn");
console.log(greyButtons);
const changeButtonsOnClick = (event) => {
console.log(event);
event.target.classList.toggle("active");
};
greyButtons.forEach((el) => {
el.addEventListener("click", changeButtonsOnClick);
});
</script>
