<h1>DASHBOARD</h1>



<% @user.trackers.each do |tracker| %>
  <p>You have joined the following challenges:</p>
  <p>Name of user: <%= tracker.user.name %></p>
  <p>Name of the Challenge: <%= tracker.challenge.name %></p>
  <p>Days since last login: <%= @days %></p>
  <div>
    <p>Check your progress:</p>
    <% @days.times do %>
      <div class="grey-btn"><%= @user.last_sign_in_at.strftime("%A") %></div>
    <% end %>
  </div>
<% end %>


<h1> These are your badges </h1>
<% @badges.each do |badge| %>
<%= badge.title %>
<%= image_tag badge.icon, width: 100, height: 100 %>
<% end %>

<%= link_to "edit profile", edit_user_registration_path %>

<h3>Add More Friends</h3>
<%#= form_tag(friendships_path, method: "post") do %>
  <%#= collection_check_boxes(:user, :friend_ids, @nonfriends, :id, :username_with_full_name)%>
  <%#= submit_tag("Add Friends")%>
<%# end %>

<%= simple_form_for(Friendship.new) do |f| %>
  <%= f.association :sender, selected: current_user %>
  <%= f.association :recipient, collection: User.all %>
  <%= f.submit %>
<% end %>

