<div class="form-wrapper-dashboard" style="background-image: url(<%= image_path "sky.jpg" %>)"></div>
<div class="dashboard-container">
  <div class="dashboard-col">
    <h3 class="heading-secondary"><%= @user.name %>'s challenges</h3>
    <% if !@user.list_friends.map(&:sender).include?(current_user) && @user != current_user %>
    <%= link_to "add as friend", friendships_path(user: @user) , method: :post  %>
    <% end %>
    <!-- Add this later, removed to fix demo day <%#= cl_image_tag @user.image, %> -->
    <!-- after @user.image, "height: 300, width: 400, crop: :fill" -->
    <div class="">
      <% if !@user.list_friends.map(&:sender).include?(current_user) && @user != current_user %>
      <% end %>
      <% @trackers.each do |tracker| %>
      <div class="progress-card">
        <div class="challenge-image" style="background-color: <%= tracker.challenge.bg_color %>">
          <% if tracker.challenge.image.nil? || tracker.challenge.image.empty? %>
          <%= cl_image_tag tracker.challenge.photo, alt: tracker.challenge.name, height: 180, width: 180, crop: :fill %>
          <% else %>
          <%= image_tag tracker.challenge.image %>
          <% end %>
        </div>
        <h3 class="heading-tertiary">
        <%= tracker.challenge.name %>
        </h3>
        <button class=progress-button>
        <p class="heading-tertiary">
          Check progress
        </p>
        </button>
      </div>
      <% end %>
    </div>
  </div>
  <div class="dashboard-col">
    <div class="user-profile">
      <div class="profile-card">
        <%= cl_image_tag @user.image, height: 180, width: 180, crop: :fill, class: "avatar-profile" %>
        <p class="profile-name heading-secondary"><%= @user.name %>
          <% if policy(@user).edit? %>
          <p class="edit-profile-text"><%= link_to "edit profile", edit_user_registration_path %></p>
          <% end %>
        </p>
      </div>
      <div class="profile-card">
        <p class="heading-secondary">Badges</p>
        <p class="badge-text">You currently have <%= @user.score %> points</p>
        <% @badges.each do |badge| %>
        <%= image_tag badge.icon, width: 100, height: 100 %>
        <% end %>
      </div>
      <div class="profile-card-friends">
        <p class="heading-secondary">
          Friends
        </p>
        <div class="leaderboard">
          <div class="top-five">
            <h4><%= image_tag "crowns.png" %> Leaderboard</h4>
            <table>
              <% @top_five_friends.each do |friend| %>
              <% friend.sender == current_user ? active = friend.recipient : active = friend.sender %>
              <tr>
                <th class = "avatar"><%= cl_image_tag active.image %></th>
                <th><%= link_to active.name, dashboard_path(user: active.id) %></th>
                <th><%= active.score %></th>
              </tr>
              <% end %>
              <tr>
                <th class = "avatar"><%= cl_image_tag current_user.image %></th>
                <th><%= link_to current_user.name, dashboard_path(user: current_user.id) %></th>
                <th><%= current_user.score %></th>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<%#= cl_image_tag @user.image, %>
<!-- Add this later, removed to fix demo day <%#= cl_image_tag @user.image, %> -->
<!-- after @user.image, "height: 300, width: 400, crop: :fill" -->
<script>
const greyButtons = document.querySelectorAll(".grey-btn");
console.log(greyButtons);
const changeButtonsOnClick = (event) => {
console.log(event);
event.target.classList.toggle("active");
};
greyButtons.forEach((el) => {
el.addEventListener("click", changeButtonsOnClick);
});
</script>
