
  <div class="background" style="background-image: url(<%= image_path "background_water.png" %>)">
      <div class="banner">
        <div class="pal pal-landing" style="background-image: url(<%= image_path "pal.png" %>)">
        </div>
        <div class="bubble bubble-landing at-item">
           <span id="banner-typed-text">
          <p>Hi there!</p>
          <p>Please scroll down... or <a href="#hello" data-scroll>click this</a></p>
            </span>
        </div>
        <div id="clouds">
          <div class="cloud x1"></div>
          <div class="cloud x1_5"></div>
          <div class="cloud x2"></div>
          <div class="cloud x4"></div>
          <div class="cloud x5"></div>

        </div>
        <div class="app-name-container" id="hello">
          <h2 id="app-name">ecopal</h2>
          <h3 id="app-slogan">save the planet one challenge at a time</h3>
        </div>
        <div class="btn-landing">
           <%= link_to "CHALLENGES", challenges_path, class: "grey-btn" %>
           <%= link_to "DASHBOARD", dashboard_path, class: "grey-btn" %>
           <a href="#cards-home" class="grey-btn">ABOUT</a>
        </div>
    </div>

    <div class="about">
      <div id="cards-home" class="about-cards">
        <div class="card-category" style="margin: 50px;">
          <%= image_tag "world.png", style:"height: 100%;" "padding-top: 10px;" %>
         <span>Let's save the planet</span>
        </div>

        <div class="card-category" style="margin: 50px;">
          <%= image_tag "friends.png", style:"height: 100%;" "padding-top: 10px;"%>
          <span>Invite your friends</span>
        </div>

        <div class="card-category" style="margin: 50px;">
          <%= image_tag "score.png", style:"height: 100%;" "padding-top: 10px;" %>
          <span>Score points on your way</span>
        </div>

      </div>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/gh/cferdinandi/smooth-scroll/dist/smooth-scroll.polyfills.min.js"></script>

  <script>
    var scroll = new SmoothScroll('a[href*="#"]');
  </script>
<%= javascript_pack_tag "pal" %>
