
<h1 class = "index-page-title">Join a challenge </h1>

<div class="index-cloud-pal">
  <div>
    <%= image_tag "pal.png" %>
    </div>
  <div class="bubble" id = "bubble-index">
          <p>Or click <%= link_to "here", new_challenge_path %> to create your own</p>
  </div>
</div>



<div class="index-page-flex">

  <div class="cards">
  <% @challenges.each do |challenge| %>
    <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
        <div class="flipper">
            <div class="front">
               <div class="card">
                  <div class="image-container" style="background-color: <%= challenge.bg_color %>">
                    <% if challenge.image.nil? || challenge.image.empty? %>
                     <%= cl_image_tag challenge.photo, alt: challenge.name, loading: 'lazy'  %>
                     <% else %>
                     <%= image_tag challenge.image, loading: 'lazy'%>
                    <% end %>
                  </div>
                  <div class="image-text">
                      <%= link_to challenge.name, challenge_path(challenge) %>
                  </div>
                </div>
            </div>
            <div class="back">
                <div class="card">
                  <div class="image-container" id = "image-container-flip" style="background-color: <%= challenge.bg_color %>">
                    <div class = "flip-text">
                        <p> <%= challenge.trackers.count + 400 %> ecopals are participating in this challenge!</p>
                        <%= image_tag "ecofriends.png" %>
                      </div>
                  </div>
                  <div class="image-text" id = "find-out-more">
                      <%= link_to "Find out more!", challenge_path(challenge) %>
                  </div>
                </div>
            </div>
        </div>
    </div>
    <% end %>
  </div>
  <br>


  <div class="leaderboard">
    <div class="top-five">
      <h4><%= image_tag "crowns.png" %> Leaderboard</h4>
      <table>
        <% @top_five_users.each do |user| %>
          <tr>
            <th class = "avatar"><%= cl_image_tag user.image %></th>
            <th><%= link_to user.name, dashboard_path(user: user.id) %></th>
            <th><%= user.score %></th>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>


