<div class="form-wrapper" style="background-image: url(<%= image_path "trees.jpg" %>)"></div>
<div class="form-container-challenge">
  <div class="form-image-challenge">
  </div>
  <br>
<div class="challenge-form">
  <%= simple_form_for @challenge,  wrapper: :vertical_form do |f| %>
    <%= f.input :name, placeholder: 'Enter a name for your challenge', label: false %>
    <%= f.input :duration, placeholder: 'Enter the number of days your challenge takes place', label: false%>
    <%= f.input :start_date, as: :date, placeholder: 'When does your challenge start?', label: false %>
     <%= f.input :end_date, as: :date, placeholder: 'When does your challenge end?', label: false %>
      <%= f.input :address, placeholder: 'Where does your challenge take place?', label: false %>
      <%= f.input :description, placeholder: 'Tell us about your challenge', label: false %>
      <%= f.input :photo %>
      <%= f.input :photo_cache, as: :hidden %>
    </div>
    <%= f.button :submit, "create your challenge" %>
  <% end %>
</div>
