 <h1 class = "challenge-show-title"><%= @challenge.name %></h1>

<div class="challenge-show-page">
    <div class="challenge-show-image" style="background-color: <%= @challenge.bg_color %>">
        <div>
          <%= image_tag @challenge.image, height: 300, width: 400, crop: :fill %>
          </div>
    </div>
    <div class="challenge-details">
        <h2>Why join?</h2>
        <p> <%= @challenge.description %></p>
        <p class = "duration"> <%= image_tag "calendar.png" %> <%= pluralize @challenge.duration, "day" %></p>
        <p class = "points"> <%= image_tag "medal.png" %> <%= @challenge.reward %> points</p>
        <% if @not_participating %>
          <%= simple_form_for [@challenge, Tracker.new] do |f| %>
          <%= f.button :submit, "join", class: "yellow-btn", id: "yellow-btn-show" %>
        <% end %>
        <% else %>
          <div></div>
        <% end %>
    </div>
    <div class = "participants">
      <div class="participant-list">
        <h3 class = "challenge-show-ecopals">Recently joined</h3>
          <% @random_participants.each do |participant| %>
          <p class = "participant-list"><%= cl_image_tag participant.user.image, class: "avatar" %><%= link_to participant.user.name, dashboard_path(user:participant.user_id), class: "show-name" %></p>
          <% end  %>
        </div>
        <div class="ecopal-show">
            <%= image_tag "pal.png" %>
          </div>
    </div>

    <div
      id="map"
      style="width: 100%;
      border-radius: 10px;
      height: 480px;"
      data-markers="<%= @markers.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
    ></div>
</div>




