<h1><%= @challenge.name %></h1>

<%= cl_image_tag @challenge.image, height: 300, width: 400, crop: :fill %>

<p><%= link_to "", dashboard_path  %></p>
<%= link_to edit_challenge_path(@challenge) do %>
  Edit
<% end %>

 <%= simple_form_for [@challenge, Tracker.new] do |f| %>
  <%= f.button :submit, "JOIN", class: "btn-primary", id: "btn-booking" %>
<% end %>

<h3>Challenge participants:</h3>
<% @participants.each do |participant| %>
  <p><%= participant.user.name %></p>
  <% end  %>

<div
  id="map"
  style="width: 50%;
  height: 480px;"
  data-markers="<%= @markers.to_json %>"
  data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
></div>
