<!DOCTYPE html>
<html>
  <head>
    <%= favicon_link_tag %>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Our planet needs more attention but most of us don't do anything. Ecopal is an attempt to change that and motivate people to live more eco-friendly.</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->
  </head>

<!--     <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p> -->
  <body>
    <div class="site">
      <%= render 'shared/navbar' %>
      <%= render 'shared/flashes' %>
      <div class="main-container main-container--signup">
        <%= yield %>
      </div>
      <div class="footer">
    <!-- FOOTER -->
      </div>
    </div>
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
  </body>
</html>
